.ui-widget.ui-widget-content {
    border: 0px solid #fff;
    background-color: #ccc;
    margin: 31px 0px 15px 11px;
    width: 62%;
    position: absolute;
    top: 16px !important;
    z-index: 9999999999;
    margin: auto auto;
    margin-left: auto;
    right: 15px;
    margin-left: auto;
}

.d-flext-desk {
    display: flex !important;
}

.counterDiv {
    margin: 58px 0px !important;
}

.moretext {
    display: none;
}

.imgbefore:before {
    content: "";
    position: absolute;
    width: 60%;
    left: 0;
    height: 100% !important;
    background: #73081C;
    clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
}

.rightImg {
    text-align: right;
}

.hero-text {
    top: 50% !important;
}

.imgStyle {
    text-align: right;
    width: 50%!important;
}

.hero-text {
    text-align: left;
    position: absolute;
    left: 61%;
    transform: translate(-50%, -50%);
    color: white;
    position: absolute;
    top: 0%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-family: "Raleway", sans-serif;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.head-img {
    font-family: "Raleway", sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    letter-spacing: 0em;
    text-align: left;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

.counters {
    font-family: Lato;
    font-size: 61px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #73081C;
}

.topSpace {
    flex: 1 0 0%;
    margin-top: 69px;
}

.countpage {
    font-family: "Raleway", sans-serif !important;
    font-size: 24px;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 32px;
}

.hero-text button.btnstarteds:focus {
    outline: none;
    background-color: #FFFFFF;
    color: #73081C;
}

.hero-text button.btnstarteds {
    margin-right: 15px;
    height: 38px;
    border-radius: 23.4px;
    font-family: "Raleway", sans-serif !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #EAEAEA;
    border: 1px solid #EAEAEA;
    background-color: #73081C;
}

.btntouchs {
    height: 38px;
    border-radius: 23.4px;
    border: 1px solid #EAEAEA;
    background-color: #73081C;
    font-family: "Raleway", sans-serif !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.imgabout {
    margin-bottom: 20px;
}

.hero-text button.btntouchs {
    border: 1px solid #EAEAEA;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #EAEAEA;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    background-color: #73081C;
}

.hero-text button.btntouchs:hover {
    background-color: #ffffff;
    color: #73081C;
}

.hero-text button.btnstarteds:hover {
    background-color: #ffffff;
    color: #73081C;
}

.imgtext {
    font-family: "Raleway", sans-serif !important;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    color: #FFFFFF;
    width: 28%;
}

.focus {
    background-color: #ffffff;
}

@media (max-width: 1155px) {
    .head-img {
        font-family: "Raleway", sans-serif;
        font-size: 50px;
    }
    .hero-text {
        text-align: left;
        position: absolute;
        left: 0;
        transform: translate(3%, -53%);
        color: white;
        position: absolute;
        top: 0%;
        width: 100%;
        font-family: "Raleway", sans-serif;
    }
}

@media (max-width: 1200px) {
    .hero-text {
        left: 0% !important;
        transform: translate(2%, -52%);
        top: 38px;
        width: 90%;
        margin: 0 auto;
    }
    .imgtext {
        width: 47%;
    }
}

@media (max-width: 992px) {
    .reveseColunm {
        display: flex;
        flex-direction: column-reverse;
    }
}


/* For iPhone 4 Portrait or Landscape View */

@media (max-width: 575.98px) {
    .reveseColunm {
        display: flex;
        flex-direction: column-reverse;
    }
    .d-flext-desk {
        display: block !important;
    }
    .countpage {
        font-family: "Raleway", sans-serif !important;
        font-size: 24px;
        font-weight: 500;
        line-height: 60px;
        align-items: center;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 5px;
        text-align: center;
    }
    .counterDiv {
        margin: 10px 0px !important;
    }
    .img-fluid.frantimg {
        height: auto!important;
    }
    .hero-text {
        left: 27% !important;
        transform: translate(-32%, -6%);
        top: 38px;
        width: 90%;
        margin: 0 auto;
    }
    .imgtext {
        font-family: "Raleway", sans-serif !important;
        font-size: 5px;
        font-weight: 500;
        line-height: px;
        letter-spacing: 0em;
        color: #FFFFFF;
        width: 45%;
    }
    .head-img {
        font-size: 12px;
    }
    .hero-text button.btnstarteds {
        font-size: 9px!important;
    }
    .hero-text button.btntouchs {
        font-size: 9px!important;
    }
    .counters {
        font-size: 40px !important;
    }
    .heading {
        font-size: 18px;
    }
    .pright {
        padding-right: 0;
    }
}

@media (max-width: 899px) {
    .text-bg {
        background-color: #73081C;
        padding-top: 2% !important;
        padding-bottom: 2% !important;
    }
    .hero-text {
        left: 27% !important;
        transform: translate(-32%, -6%);
        top: 38px;
        width: 90%;
        margin: 0 auto;
    }
    .imgbefore::before {
        content: "";
        position: relative;
        z-index: 0;
        width: 100%;
        left: 0;
        display: none;
        height: 100% !important;
        border-bottom: 637px solid #73081C;
        border-right: 171px solid transparent;
    }
    .text-bg {
        background-color: #73081C;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .imgStyle {
        text-align: right;
        width: 100% !important;
        position: relative;
    }
    .hero-text {
        top: 50% !important;
        position: relative;
    }
    .imgtext {
        color: #FFFFFF;
        width: 100%;
    }
    .img-fluid.frantimg {
        height: auto!important;
    }
    // .hero-text {
    //     top: 20% !important;
    //     left: 0% !important;
    // }
    .imgtext {
        font-family: "Raleway", sans-serif !important;
        font-size: 11px !important;
        font-weight: 500;
        line-height: px;
        letter-spacing: 0em;
        color: #FFFFFF;
    }
    .head-img {
        font-size: 22px;
    }
    .hero-text button.btnstarteds {
        font-size: 12px;
    }
    .hero-text button.btntouchs {
        font-size: 12px;
    }
    .counters {
        font-size: 37px;
    }
}

.bg-lights {
    color: #A54141;
    font-family: "Raleway", sans-serif !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
}