.container {
  max-width: 1384px;
  padding: 0 12px;
  margin: 0 auto;
}

.f-v-center {
  display: flex;
  align-items: center;
}

.f-h-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; /* Changes background to white */
  box-shadow: 0 0 0px 1000px white inset; /* Fallback */
  -webkit-text-fill-color: #000; /* Optional: Changes text color */
}

header {
  position: fixed;
  width: 100%;
  top: 0 !important;
  left: 0;
  z-index: 9;
  background-color: #fff;
  padding: 15px 0 !important;
  box-shadow: -77px 62px 28px 0px #ababab00;

  .logo {
    max-width: 187px !important;
    margin: 0;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-mid {
    display: flex;
    align-items: center;
  }

  .expolore-btn {
    margin: 0 12px;
    display: flex;
    align-items: center;
    ul {
      display: flex;

      li {
        margin: 0 5px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;

        a {
          padding: 8px 15px;
          border-radius: 25px;
          transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
          &:hover,
          &.active {
            background: #73081c;
            color: #fff;
            font-weight: 800;
          }
        }
      }
    }
  }

  .close-avd-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 27px;
    height: 27px;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
      font-size: 21px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15); /* Inset shadow for watermark effect */
      opacity: 0.5; /* Adjust for watermark visibility */
      pointer-events: none;
    }
  }

  .nav-middle-part {
    display: flex;

    .search-wrap {
      padding: 8px 15px;
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 18px;
      width: 63%;
      flex-grow: 1;
      border: 1px solid #676767;
      border-right: none;
      border-radius: 25px 0 0 25px;

      label {
        margin-right: 8px;
        display: flex;
        align-items: center;
      }
      input {
        outline: none;
        border: none;
        font-size: inherit;
        color: inherit;
        font-weight: inherit;
        background: transparent;
        width: 100%;
      }

      .close-input {
        cursor: pointer;
        transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;

        &:hover {
          scale: 0.9;
        }
      }

      span {
        font-size: 22px;
      }
    }
  }

  .advance-search {
    width: 480px;
    display: flex;
    overflow: hidden;
    font-size: 16px;
    font-weight: 600;

    form {
      width: 100%;
    }
  }

  .advanceSearch-btn {
    padding: 0;
    padding-right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: inherit;
    white-space: nowrap;
    width: 37%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: width 0.5s ease;
    border: 1px solid #676767;
    color: #73081c;
    font-weight: 700;
  }

  .asvanceSearch {
    button {
      padding: 10px 39px !important;
    }
  }

  #containerAdvanceSearch {
    display: none;
    top: 79px;
    max-width: 978px;
    width: 100%;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    padding: 24px 23px;

    select,
    input {
      font-size: 14px !important;
      font-weight: 700 !important;
      color: #9b9b9b;
      border-radius: 25px !important;
      padding: 7px 12px;
      height: auto !important;
      border: 1px solid #676767;
    }

    .avd-rang-input {
      display: flex;
      justify-content: space-between;
      input {
        max-width: 100px;
        color: #676767 !important;
        font-size: 16px !important;
        text-align: center;
        line-height: normal;
        padding: 8px 12px;
        outline: none;
      }
    }

    .form-select {
      background-position: 95% 50% !important;
    }
  }

  .avd-search {
    margin-bottom: 24px;
    font-size: 18px;
  }

  .adlebel {
    font-size: 16px;
    font-weight: 700;
  }

  .avd-rang-label {
    position: relative;
  }

  .avdRangSlider,
  .ui-widget.ui-widget-content {
    right: 0 !important;
    width: 75% !important;
    top: 50% !important;
    margin: 0 !important;
  }
}

input::placeholder {
  color: #676767 !important ;
}

.font-setter {
  margin: 0 12px;

  ul {
    align-items: flex-end;
    li {
      margin: 0 8px;
      display: flex;
      align-items: flex-end;

      &:nth-child(1) {
        font-size: 18px;
      }

      &:nth-child(2) {
        font-size: 20px;
      }

      &:nth-child(3) {
        font-size: 22px;
      }

      a {
        color: #676767;
        font-weight: 800;
        font-size: inherit;
        text-decoration: underline;
        line-height: 1.5;
        transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
        white-space: nowrap;

        &:hover {
          color: #73081c;
        }
      }
    }
  }
}

.mode-and-notifiation {
  li {
    margin: 0 9px;

    &:first-child {
      margin-left: 0;
    }

    a {
      &:hover,
      &.active {
        img {
          filter: brightness(0);
        }
      }
    }
  }
}

.change-language {
  margin: 0 10px;

  #dropdownMenuButton1 {
    font-size: 22px;
    font-weight: 700;
  }
}

.user-photo-and-login {
  font-size: 16.88px;
  font-weight: 700;

  ul {
    li {
      margin: 0 12px;
      font-size: 16px;
      font-weight: 700;
      color: #73081c;

      a {
        white-space: nowrap;
        &.user {
          width: 30px;
          height: 30px;
          color: #fff;
          background-color: #73081c;
          border-radius: 50%;
          display: block;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.heandler-icons {
  .material-symbols-outlined {
    font-size: 30px;
    cursor: pointer;
  }
}

.userPhoto {
  display: none;
}

.login-register {
  &:hover {
    a {
      color: #73081c;
    }
  }
}

nav.megahmenudrop {
  display: block;
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  transition: 0.3s !important;
  max-width: 1380px;
  width: 100%;
  margin: 0 auto !important;

  &.active {
    top: 78px;
  }
}

.backdrop-shaddow {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  z-index: 1;
  display: none;

  &.show {
    display: block;
  }
}

// .backdrop-shaddow.show{
//   display: none;
// }

body.menuActive {
  overflow: hidden !important;
}

.mode-and-notifiation {
  img {
    width: 25px !important;
  }
}

.or {
  display: none;
}

// 888888888*************************************************************************
// Below css for user login

.user-login {
  #dropdownMenuButton1 {
    font-size: 16px;
    font-weight: 700;
  }

  .mode-and-notifiation li,
  .font-setter ul li {
    margin: 0 18px;
  }
  .mode-and-notifiation li:first-child {
    margin-left: 0;
  }

  .login-register {
    display: none !important;
  }

  .userPhoto {
    display: block !important;
  }
}

.only-mobile {
  display: none;
}

@media (width > 1200px) {
  .advance-search.search-active {
    .advanceSearch-btn {
      width: 0;
      opacity: 0;
      border: 1px solid #73081c;
    }

    .search-wrap {
      border: 1px solid #676767 !important;
      border-radius: 25px;
    }
  }

  .advanceSearch-btn.active {
    background: #f1e6e8;
    border: 1px solid #73081c;
  }
}

@media (max-width: 1370px) {
  header .advance-search {
    font-size: 14px !important;
  }
  header .nav-middle-part .search-wrap input {
    width: 100%;
  }

  nav.megahmenudrop {
    max-width: 1180px;
  }
  header .expolore-btn ul li,
  .user-photo-and-login ul li {
    font-size: 14px;
  }
  .change-language #dropdownMenuButton1 {
    font-size: 18px;
  }
  .material-symbols-outlined {
    font-size: 22px;
  }
  .mode-and-notifiation img {
    width: 64px;
  }
}

@media (max-width: 1200px) {
  header .nav-middle-part {
    margin-top: 60px;
  }

  .close-input {
    position: absolute;
    top: 15px;
    right: 15px;

    span {
      font-size: 32px !important;
    }
  }
  .backdrop-shaddow.show {
    display: none !important;
  }
  nav.megahmenudrop {
    max-width: 400px;
  }
  nav.megahmenudrop .row-cols-5 > * {
    flex: 0 0 100%;
    width: 100%;
  }
  nav.megahmenudrop {
    top: 0px !important;
    right: -100% !important;
    left: initial;
    height: 100vh;
  }
  nav.megahmenudrop.active {
    right: 0 !important;
    left: initial;
  }
  .only-mobile {
    display: block;
  }

  header .nav-middle-part .search-wrap {
    padding: 15px 15px !important;
    border-radius: 25px !important;
  }

  .mobile-header .close-icon .material-symbols-outlined {
    font-size: 30px;
    cursor: pointer;
  }
  .mobile-header .close-icon {
    margin: 15px 0;
  }

  .mobile-header {
    .wrap-for-mobile {
      align-items: center;
      justify-content: space-between;
    }
    .wrap-for-mobile ul,
    .wrap-for-mobile .change-language {
      margin-bottom: 15px;
      flex: 1;
    }
    .mode-and-notifiation img {
      width: 25px;
    }
    .font-setter {
      margin-left: 0;
    }
    .top-nav-mob {
      display: flex;
      margin-bottom: 24px;
    }
    .expolore-btn {
      margin-left: 0;
    }
    .top-nav-mob {
      display: flex;
      margin-bottom: 30px;
      margin-left: 0;
    }
    .font-setter ul li:first-child {
      margin-left: 0;
    }
    .expolore-btn ul li {
      margin: 0 3px;
    }

    .change-language {
      margin-left: 0;
    }
    .expolore-btn ul li:first-child {
      margin-left: 0;
    }
    .wrap-for-mobile {
      margin-bottom: 15px;
    }

    .expolore-btn ul li a {
      padding: 8px 12px;
    }
  }

  .sub-menu-parent {
    margin-bottom: 15px;
    ul.meghamenuli {
      display: none;
      transition: none;
      padding-left: 20px;

      li {
        margin-bottom: 15px;
        a {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
    &:has(ul) {
      h5 {
        position: relative;
        font-size: 18px;
        font-weight: 700;

        &::after {
          content: "";
          width: 30px;
          height: 30px;
          background-image: url(../images/icons/arrow_drop_down.svg);
          background-size: contain;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          transition: 0.5s;
        }
      }
    }
  }

  .sub-menu-parent.active {
    h5 {
      color: #73081c;
      text-decoration: underline;

      &::after {
        transform: translateY(-50%) rotate(-180deg);
        filter: brightness(0);
      }
    }
  }

  .font-setter {
    ul {
      li {
        margin-right: 18px;
      }
    }
  }
  .user-login {
    .font-setter {
      ul {
        li {
          margin-right: 15px;
        }
      }
    }
  }

  .heandler-icons .material-symbols-outlined {
    font-size: 39px;
  }

  .search-icon.only-mobile {
    display: flex;
    align-items: center;
    span {
      font-size: 30px;
      margin-right: 15px;
    }
  }

  .mobile-advanceSearch {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: -100%;
    background: #fff;
    z-index: 9;
    transition: 0.5s;
    padding: 0 15px;
    padding-top: 25px;

    .advanceSearch {
      margin: 0 auto;
      max-width: 100%;

      > form {
        flex-direction: column;
      }
    }

    .advanceSearch-btn {
      height: auto;
      border-radius: 25px;
      padding: 12px 10px !important;
      font-size: 18px;
      background: #f1e6e8;
    }

    .asvanceSearch {
      padding-top: 100px;
    }

    #containerAdvanceSearch {
      display: none !important;
      left: 0;
      right: 0;
      margin: 0px auto;
      max-width: 100%;
      padding: 0 15px;
      transition: height .3s;
      overflow-y: auto;
      height: 85%;
      transform: none;
    }

    .buttonadvancesearch {
      margin-bottom: 25px;
    }

    .search-wrap {
      margin: 25px 0;
      border-right: none !important ;
      border-bottom: 1px solid #00000042;
      padding-bottom: 15px !important;
    }

    .advance-search {
      max-height: initial !important;
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      border: none;
      form {
        flex-wrap: wrap;
        width: 100%;
      }

      .nav-middle-part {
        max-width: 600px;
        width: 100%;
        margin: auto;
      }

      .search-wrap,
      .advanceSearch-btn {
        max-width: 100%;
        flex: 0 0 100%;
        width: 100%;
        text-align: left;
      }
    }

    .asvanceSearch {
      box-shadow: none;
    }

    .inputGroup {
      margin-bottom: 14px;
    }
  }

  header .nav-middle-part .search-wrap {
    padding: 13px 15px !important;
    border: 1px solid #676767 !important;
  }

  .mobile-advanceSearch.advance-search-open {
    top: 0;
  }

  .AdSearch {
    margin: 30px 0 0;
    margin-top: 70px;
  }

  .mobile-advanceSearch.active {
    #containerAdvanceSearch {
      display: block !important;
      top: 0;
      height: 100%;
    }

    .advanceSearch-btn {
      font-size: 18px;
      font-weight: 700;
      color: #73081c;
      text-decoration: underline;
    }
  }
}

@media (max-width: 767px) {
  .mobile-advanceSearch {
    .buttonadvancesearch {
      max-width: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .nav-middle-part .search-wrap input {
      width: 100%;
      padding: 10px 0;
    }
  }

  .border-div {
    display: none;
  }

  .asvanceSearch .resetbutton {
    margin-left: 0 !important;
  }

  .or {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.44px;
    text-align: center;
  }

  .select-range-year {
    .range-slider {
      position: relative;

      input {
        position: absolute;
        top: 0;
        width: 50%;
      }
    }
  }

  #slider-range-home,
  #slider-range-home {
    width: 85% !important;
  }

  .select-fonts {
    margin-bottom: 16px;
  }

  .year-wrrap {
    display: flex;
    position: relative;
  }

  .fsfs,
  .fs {
    top: -10px !important;
  }

  .year-wrrap {
    div {
      &:first-child {
        margin-right: 15px !important;
      }
      padding: 0 !important;
    }
  }

  .form-select,
  .year-wrrap input {
    padding: 10px 12px !important;
    height: auto !important;
  }

  .asvanceSearch {
    .form-select {
      background-position: 96% 16px !important;
    }
  }

  .or {
    display: block;
  }

  .select-fonts {
    margin-bottom: 15px !important;
  }

  header .nav-middle-part .search-wrap {
    padding: 8px 15px !important;
  }

  .close-input span {
    font-size: 26px !important;
  }
}

@media (max-width: 600px) {
  .mobile-header .expolore-btn ul li {
    margin: 0 0px;
  }

  .mobile-header .expolore-btn ul li a {
    padding: 8px 14px;
  }
  .font-setter ul li {
    margin-right: 10px;
  }
  header .logo {
    max-width: 140px !important;
    margin: 0;
  }

  nav.megahmenudrop {
    height: 100vh;
  }

  .counterdiv .counter {
    font-size: 28px !important;
  }

  header .nav-middle-part .search-wrap {
    padding: 2px 15px !important;
  }

  .mobile-advanceSearch .advanceSearch-btn {
    padding: 9px 9px !important;
    font-size: 17px;
  }
}

@media (max-width: 350px) {
  header .expolore-btn ul li,
  .user-photo-and-login ul li {
    font-size: 12px;
  }
  .change-language #dropdownMenuButton1 {
    font-size: 15px;
  }
  .sub-menu-parent:has(ul) h5,
  .sub-menu-parent ul.meghamenuli li a {
    font-size: 14px;
  }
  .sub-menu-parent ul.meghamenuli li {
    margin-bottom: 10px;
  }
  .mobile-header .expolore-btn ul li a {
    padding: 8px 11px;
  }
}
